section {
  padding: 80px;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 0 80px;
  top: 30px;
  z-index: 30;
  box-sizing: border-box;
  color: #fff;
}

header h1 {
  width: 6%;
}

.orbit {
  position: absolute;
  top: 50%;

}

.orbit .square {
  position: absolute;
  pointer-events: none;
  margin: 4px;
  display: block;
  top: -10px;
  left: -10px;
  border-radius: 100px;
  width: 10px;
  height: 10px;
  opacity: 1;
  transition: opacity 0.3s ease-out;
  background-color: #fff;
}

.current {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  text-align: center;
  text-transform: uppercase;
  font-size: 100px;
  line-height: 1.2;
  font-weight: 800;
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
}

.current p {
  background: linear-gradient(to right, rgb(0, 77, 202) 50%, rgba(255, 255, 255, 0.3) 50%);
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}


/* visual-sec */
.visual-sec {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

.visual-sec .visual-title {
  position: relative;
  z-index: 9;
}

.visual-sec .title-area {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-weight: 800;
  font-size: 170px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  z-index: 5;
  overflow: hidden;
}

.visual-sec .title-area p {
  overflow: hidden;
  position: relative;
}

.visual-sec .sub-title {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.4;
  overflow: hidden;
  margin-top: 120px;
}

.visual-sec .visual-icon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.visual-sec .visual-icon img {
  position: absolute;
  transform: translateY(10%);
  opacity: 0;
}

.visual-sec .visual-icon .icon02 {
  top: 8%;
  left: 8%;
  width: 20%;
}

.visual-sec .visual-icon .icon03 {
  top: 50%;
  right: 34%;
  width: 17%;
}

.visual-sec .visual-icon .icon04 {
  right: 10%;
  top: 35%;
  width: 16%;
  filter: blur(10px);
}

.visual-sec .visual-icon .icon05 {
  left: -10%;
  top: -10%;
  width: 26%;
  transform: rotate(20deg) scale(2);
}

.visual-sec .sub-title span {
  display: block;
}

/* about-sec */
.about-sec .about-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.about-sec .left {
  flex: 2; 
  position: sticky;
  top: 30%;
}

.about-sec .about-info {
  font-size: 24px;
  font-weight: 800;
}

.about-sec .right {
  flex: 1; 
  width: 40%;
}

.about-sec .about-skil {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.about-sec .about-skil img {
  width: 20%;
  margin-bottom: 20px;
  margin-right: 20px
}

/* work-sec */
.work-sec {
  padding-top: 80px ;
}
.work-sec .work-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.work-sec .work-list li {
  width: calc(50% - 20px);
}
.work-sec .work-item {
  position: relative;
}
.work-sec .work-item a {
  display: block;
  width: 100%;
  height: 100%;
}
.work-sec .work-item .work-title {
  font-size: 36px;
  font-weight: 700;
}