@media (max-width: 1150.0005px) {
	.visual-sec .title-area {
		font-size: 120px;
	}

	
}

@media (max-width: 1080px) {

	.only_w {
		display: none;
	}

	.visual-sec .visual-icon .icon02 {
		top: 20%;
	}

	.project-sec .project-list li a {
		flex-direction: column-reverse;
		align-items: flex-start;
	}

	.project-sec .project-list li .year {
		margin-left: 0;
	}

}
@media (max-width: 850.0005px) {
	html {
		font-size: 4.1666vw;
	}

	header {
		padding: 0 var(--mobile-padding);
		top: 1rem;
		font-size: .8rem;
	}

	header .logo {
		width: 3.3333rem;
	}

	footer {
		font-size: .5333rem;
		padding: 0 var(--mobile-padding) 1.3333rem;
	}
	
	.current {
		font-size: 2.333rem;
		padding: 0 var(--mobile-padding);
	}
	
	/* visual-sec */
	.visual-sec {
		padding: 0 var(--mobile-padding);
	}
	
	.visual-sec .title-area {
		font-size: 2.8rem;
	}

	.visual-sec .visual-icon .icon02 {
    top: 29%;
    left: 8%;
    width: 6.6667rem;
	}

	.visual-sec .visual-icon .icon03 {
    top: 47%;
    right: 20%;
    width: 6rem;
	}

	.visual-sec .visual-icon .icon04 {
		right: 3%;
		width: 6.6667rem;
	}

	/* project-sec */
	.project-sec {
		padding-bottom: var(--mobile-padding);
	}
	
	.project-sec .project-list li a {
		padding: 2rem var(--mobile-padding);
	}
	
	.project-sec .project-list li::after {
		font-size: 2.8rem;
		transform: translateY(-0.6667rem);
	}
	
	
	.project-sec .project-list li .pj-title {
		font-size: 1.8667rem;
	}
	
	.project-sec .project-list li .pj-desc {
		font-size: .6667rem;
		margin-top: .8rem;
	}
	
	.project-sec .project-list li .year {
		font-size: 1rem;
	}
	
	.project-sec .project-list li .tag {
		margin-top: .8rem;
	}
	
	.project-sec .project-list li .hashtag {
		padding: .2667rem .4rem;
		margin-top: .6667rem;
		border-radius: .2rem;
		margin-right: .3333rem;
		margin-bottom: .1rem;
		font-size: .5333rem;
	}
	
	.project-sec .project-list li .hashtag+.hashtag {
		margin-left: 0;
	}
	
	
}